.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 20vh;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.card:hover {
  cursor: pointer;
  background-color: rgba(161, 160, 160, 0.2);
}
.heart .heartIcon {
  color: gray;
}

.heart .heartIcon:hover {
  color: red;
}
@media only screen and (min-width: 576px) {
  .card {
    height: 20vh;
  }
}
